<div class="fullwidth overview-grid">
	{% if results.error is defined %}
		<p class="error">{{ results.error }}</p>
	{% else %}
		<div>
			<p class="overview-title">Unique Visitors</p>
			<p class="overview-value">{{ results.visitors.value|prettyCount }} {% if results.visitors.value > 1000 %}<span>({{ results.visitors.value }})</span>{% endif %}</p>
		</div>
		<div>
			<p class="overview-title">Total Pageviews</p>
			<p class="overview-value">{{ results.pageviews.value|prettyCount }} {% if results.pageviews.value > 1000 %}<span>({{ results.pageviews.value }})</span>{% endif %}</p>
		</div>
		<div>
			<p class="overview-title">Visit duration</p>
			<p class="overview-value">{{ results.visit_duration.value|prettyTime }}</p>
		</div>
		<div>
			<p class="overview-title">Bounce rate</p>
			<p class="overview-value">{{ results.bounce_rate.value }}%</p>
		</div>
	{% endif %}
</div>

