{% from "plausible/_macros" import overviewStat %}
<div class="fullwidth overview-grid">
	{% if results.error is defined %}
		<p class="error">{{ results.error }}</p>
	{% else %}
		{% set results = results.results|first %}
		{% set metrics = results.metrics %}
		<div>
			<p class="overview-title">{{ "Unique Visitors"|t('plausible') }}</p>
			<p class="overview-value">
				{{ metrics[0]|prettyCount }}
{#				{% set changeValue = results.visitors.change ?? 0 %}#}
{#				{% set change = changeValue > 0 ? 'up' : changeValue < 0 ? 'down' : 'same' %}#}
{#				{% set icon = changeValue > 0 ? '↑' : changeValue < 0 ? '↓' : '--' %}#}
{#				<span class="percentage"><span class="{{ change }}">{{ icon }}</span>{{ results.visitors.change|replace('-', '') }}%</span>#}
			</p>
		</div>
		<div>
			<p class="overview-title">{{ "Total Pageviews"|t('plausible') }}</p>
			<p class="overview-value">
				{{ metrics[1]|prettyCount }}
{#				{% set changeValue = results.pageviews.change ?? 0 %}#}
{#				{% set change = changeValue > 0 ? 'up' : changeValue < 0 ? 'down' : 'same' %}#}
{#				{% set icon = changeValue > 0 ? '↑' : changeValue < 0 ? '↓' : '--' %}#}
{#				<span class="percentage"><span class="{{ change }}">{{ icon }}</span>{{ results.pageviews.change|replace('-', '') }}%</span>#}
			</p>
		</div>
		<div>
			<p class="overview-title">{{ "Bounce rate"|t('plausible') }}</p>
			<p class="overview-value">
				{{ metrics[2] }}%
{#				{% set changeValue = results.bounce_rate.change ?? 0 %}#}
{#				{% set change = changeValue > 0 ? 'down' : changeValue < 0 ? 'up' : 'same' %}#}
{#				{% set icon = changeValue > 0 ? '↑' : changeValue < 0 ? '↓' : '--' %}#}
{#				<span class="percentage"><span class="{{ change }}">{{ icon }}</span>{{ results.bounce_rate.change|replace('-', '') }}%</span></p>#}
		</div>
		<div>
			<p class="overview-title">{{ "Visit duration"|t('plausible') }}</p>
			<p class="overview-value">
				{{ metrics[3]|prettyTime }}
{#				{% set changeValue = results.visit_duration.change ?? 0 %}#}
{#				{% set change = changeValue > 0 ? 'up' : changeValue < 0 ? 'down' : 'same' %}#}
{#				{% set icon = changeValue > 0 ? '↑' : changeValue < 0 ? '↓' : '--' %}#}
{#				<span class="percentage"><span class="{{ change }}">{{ icon }}</span>{{ results.visit_duration.change|replace('-', '') }}%</span>#}
			</p>
		</div>
	{% endif %}
</div>

{% if timeResults.error is defined %}
	<p class="error">{{ results.error }}</p>
{% else %}
	{% set results = timeResults.results %}
	{% if results == [] %}
		{% set labels = timeResults.meta.time_labels %}
		{% set values = range(1, timeResults.meta.time_labels|length)|map(i => 0) %}
	{% else %}
		{% set labels = results|map(r => r.dimensions|first) %}
		{% set values = results|map(r => r.metrics|first) %}
	{% endif %}

	<div class="fullwidth">

		{% set formattedLabels = labels|map(label => period == 'day' ? date(label)|date('ga') : date(label)|date('D, j M')) %}

		<script type="text/javascript">
			const data = {
				labels: {{ formattedLabels|json_encode|raw }},
				datasets: [
					{
						values: {{ values|json_encode|raw }}
					}
				]
			};
		</script>
		<div class="overview-chart" id="chart"></div>
	</div>
{% endif %}


