<div class="fullwidth overview-grid">
	{% if results.error is defined %}
		<p class="error">{{ results.error }}</p>
	{% else %}
		<div>
			<p class="overview-title">Unique Visitors</p>
			<p class="overview-value">
				{{ results.visitors.value|prettyCount }}
				{% set changeValue = results.visitors.change ?? 0 %}
				{% set change = changeValue > 0 ? 'up' : changeValue < 0 ? 'down' : 'same' %}
				{% set icon = changeValue > 0 ? '↑' : changeValue < 0 ? '↓' : '--' %}
				<span class="percentage"><span class="{{ change }}">{{ icon }}</span>{{ results.visitors.change|replace('-', '') }}%</span>
			</p>
		</div>
		<div>
			<p class="overview-title">Total Pageviews</p>
			<p class="overview-value">
				{{ results.pageviews.value|prettyCount }}
				{% set changeValue = results.pageviews.change ?? 0 %}
				{% set change = changeValue > 0 ? 'up' : changeValue < 0 ? 'down' : 'same' %}
				{% set icon = changeValue > 0 ? '↑' : changeValue < 0 ? '↓' : '--' %}
				<span class="percentage"><span class="{{ change }}">{{ icon }}</span>{{ results.pageviews.change|replace('-', '') }}%</span>
			</p>
		</div>
		<div>
			<p class="overview-title">Visit duration</p>
			<p class="overview-value">
				{{ results.visit_duration.value|prettyTime }}
				{% set changeValue = results.visit_duration.change ?? 0 %}
				{% set change = changeValue > 0 ? 'up' : changeValue < 0 ? 'down' : 'same' %}
				{% set icon = changeValue > 0 ? '↑' : changeValue < 0 ? '↓' : '--' %}
				<span class="percentage"><span class="{{ change }}">{{ icon }}</span>{{ results.visit_duration.change|replace('-', '') }}%</span>
			</p>
		</div>
		<div>
			<p class="overview-title">Bounce rate</p>
			<p class="overview-value">
				{{ results.bounce_rate.value }}%
				{% set changeValue = results.bounce_rate.change ?? 0 %}
				{% set change = changeValue > 0 ? 'down' : changeValue < 0 ? 'up' : 'same' %}
				{% set icon = changeValue > 0 ? '↑' : changeValue < 0 ? '↓' : '--' %}
				<span class="percentage"><span class="{{ change }}">{{ icon }}</span>{{ results.bounce_rate.change|replace('-', '') }}%</span></p>
		</div>
	{% endif %}
</div>

