<div class="fullwidth overview-grid">
	{% if results.error is defined %}
		<p class="error">{{ results.error }}</p>
	{% else %}
		<div>
			<p class="overview-title">Unique Visitors</p>
			<p class="overview-value">
				{{ results.visitors.value|prettyCount }}
				{% set up = results.visitors.change > 0 %}
				<span class="percentage"><span class="{{ up ? 'up' : 'down' }}">{{ up ? '↑' : '↓' }}</span>{{ results.visitors.change|replace('-', '') }}%</span>
			</p>
		</div>
		<div>
			<p class="overview-title">Total Pageviews</p>
			<p class="overview-value">
				{{ results.pageviews.value|prettyCount }}
				{% set up = results.visit_duration.change < 0 %}
				<span class="percentage"><span class="{{ up ? 'up' : 'down' }}">{{ up ? '↑' : '↓' }}</span>{{ results.pageviews.change|replace('-', '') }}%</span>
			</p>
		</div>
		<div>
			<p class="overview-title">Visit duration</p>
			<p class="overview-value">
				{{ results.visit_duration.value|prettyTime }}
				{% set up = results.visit_duration.change > 0 %}
				<span class="percentage"><span class="{{ up ? 'up' : 'down' }}">{{ up ? '↑' : '↓' }}</span>{{ results.visit_duration.change|replace('-', '') }}%</span>
			</p>
		</div>
		<div>
			<p class="overview-title">Bounce rate</p>
			<p class="overview-value">
				{{ results.bounce_rate.value }}
				{% set up = results.bounce_rate.change < 0 %}
				<span class="percentage"><span class="{{ up ? 'up' : 'down' }}">{{ up ? '↓' : '↑' }}</span>{{ results.bounce_rate.change|replace('-', '') }}%</span></p>
		</div>
	{% endif %}
</div>

