{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Plausible plugin for Craft CMS
 *
 * Plausible Widget Body
 *
 * @author    Sean Hill
 * @copyright Copyright (c) 2021 Sean Hill
 * @link      https://shorn.co.uk
 * @package   Plausible
 * @since     1.0.0
 */
#}

{# {% set iconUrl = view.getAssetManager().getPublishedUrl('@shornuk/plausible/assetbundles/plausiblewidget/dist', true) ~ '/img/Plausible-icon.svg' %} #}

{# <img src="{{ iconUrl }}" height="64" width="64" /> #}
<table class="fullwidth">
	{% for result in results.results %}
		<tr>
	        <td>
	        	{% set uri = result.page|replace('/', '') %}
	        	{% set entry = craft.entries().uri(uri).one() %}
	        	{% if entry %}
	        		<a href="{{ entry.cpEditUrl}}">{{ result.page }}</a>
	        	{% else %}
	        		<span>{{ result.page }}</span>
	        	{% endif %}
	        	<span style="float: right;">{{ result.visitors }}</span>
	        </td>
	    </tr>
    {% endfor %}
</table>
